# Imports

In [2]:
import pandas as pd
import numpy as np
import math

In [15]:
df_acc = pd.read_csv('../asteroid_mining/data/df_acc_v3.csv')

In [16]:
df_acc.head()

,Unnamed: 0,Unnamed: 0.1,id,spkid,full_name,pdes,name,prefix,neo,pha,...,Viable Trajectories,Next Optical Opportunity (yyyy-mm [Vp]),Next Goldstone Radar Opportunity (yyyy-mm [SNR]),spec_B_clean,new_spec,diameter_clean,est_volume,est_density,est_mass,est_mass_th_tonnes
0,0,0,a0003361,2003361,3361 Orpheus (1982 HR),3361,Orpheus,NaN,Y,Y,...,17332,2021-05 [14.3],2021-11 [69],NaN,Sr,744.0,2.156341e+08,2.71,9.739432e+10,97394.321180
1,1,1,a0025143,2025143,25143 Itokawa (1998 SF36),25143,Itokawa,NaN,Y,Y,...,21559,2021-06 [19.5],2033-03 [22],S,S,772.0,2.409076e+08,2.71,1.088096e+08,108.809611
2,2,2,a0089136,2089136,89136 (2001 US16),89136,NaN,NaN,Y,Y,...,28990,2022-09 [19.3],2034-05 [1.e3],NaN,Sr,434.0,4.280237e+07,2.71,1.933264e+10,19332.642940
3,3,3,a0099942,2099942,99942 Apophis (2004 MN4),99942,Apophis,NaN,Y,Y,...,272315,2021-05 [19.6],2029-04 [8.e10],Sq,Sq,546.5,8.546123e+07,2.71,3.859993e+10,38599.931801
4,4,4,a0101955,2101955,101955 Bennu (1999 RQ36),101955,Bennu,NaN,Y,Y,...,47754,none,none,B,B,436.0,4.339684e+07,1.38,9.981086e+09,9981.085546

In [13]:
acc_resources = pd.read_csv('../asteroid_mining/data/acc_resources_v3.csv')

In [14]:
acc_resources.head()

,Unnamed: 0,id,new_spec,hydrogen,nitrogen,ammonia,iron,water,nickel,cobalt,magnesium silicate,iron silicate,aluminum,nickel-iron,platinum
0,0,a0003361,Sr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-30,0.0,NaN,NaN,NaN
1,1,a0025143,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-30,0.0,NaN,NaN,NaN
2,2,a0089136,Sr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-30,0.0,NaN,NaN,NaN
3,3,a0099942,Sq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-30,0.0,NaN,NaN,NaN
4,4,a0101955,B,0.235,0.001,0.001,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
acc_total_resources = pd.read_csv('../asteroid_mining/data/acc_total_resources_v3.csv')

In [9]:
acc_total_resources

,Unnamed: 0,id,new_spec,est_mass,hydrogen_kg,nitrogen_kg,ammonia_kg,iron_kg,water_kg,nickel_kg,cobalt_kg,magnesium silicate_kg,iron silicate_kg,aluminum_kg,nickel-iron_kg,platinum_kg
0,0,a0003361,Sr,9.739432e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.739432e-20,0.0,0.0,0.0,0.0
1,1,a0025143,S,1.088096e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.088096e-22,0.0,0.0,0.0,0.0
2,2,a0089136,Sr,1.933264e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.933264e-20,0.0,0.0,0.0,0.0
3,3,a0099942,Sq,3.859993e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.859993e-20,0.0,0.0,0.0,0.0
4,4,a0101955,B,9.981086e+09,2.345555e+09,9.981086e+06,9.981086e+06,9.981086e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,654,bK18T00A,Cb,1.720592e+07,4.043391e+06,1.720592e+04,1.720592e+04,1.428091e+06,1.720592e+06,1.204414e+05,1.720592e+04,0.000000e+00,0.0,0.0,0.0,0.0
655,655,bK18T00R,Sq,1.306843e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.306843e-23,0.0,0.0,0.0,0.0
656,656,bK18T01Z,S,2.560335e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.560335e-23,0.0,0.0,0.0,0.0
657,657,bK18T06D,D,1.443001e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.318902e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0
658,658,bK18U01M,Xk,3.443171e+08,0.000000e+00,0.000000e+00,0.000000e+00,3.029991e+10,0.000000e+00,3.443171e+09,1.721586e+08,0.000000e+00,0.0,0.0,0.0,0.0

In [12]:
acc_total_resources.sort_values(by=['water_kg'], ascending=False)

,Unnamed: 0,id,new_spec,est_mass,hydrogen_kg,nitrogen_kg,ammonia_kg,iron_kg,water_kg,nickel_kg,cobalt_kg,magnesium silicate_kg,iron silicate_kg,aluminum_kg,nickel-iron_kg,platinum_kg
7,7,a0162173,Cg,3.011238e+10,7.076409e+09,3.011238e+07,3.011238e+07,4.998655e+09,6.022475e+09,4.215733e+08,6.022475e+07,0.000000e+00,0.0,0.0,0.0,0.0
27,27,a0416186,K,3.368631e+10,7.916283e+09,3.368631e+07,3.368631e+07,2.795964e+09,3.368631e+09,2.358042e+08,3.368631e+07,0.000000e+00,0.0,0.0,0.0,0.0
13,13,a0228502,Cb,9.049947e+09,2.126737e+09,9.049947e+06,9.049947e+06,7.511456e+08,9.049947e+08,6.334963e+07,9.049947e+06,0.000000e+00,0.0,0.0,0.0,0.0
42,42,a0471240,C,1.247442e+09,2.931489e+08,1.247442e+06,1.247442e+06,2.070754e+08,2.494884e+08,1.746419e+07,2.494884e+06,0.000000e+00,0.0,0.0,0.0,0.0
36,36,a0451370,K,1.634238e+09,3.840460e+08,1.634238e+06,1.634238e+06,1.356418e+08,1.634238e+08,1.143967e+07,1.634238e+06,0.000000e+00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,235,bK10J39T,S,1.749489e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.749489e-22,0.0,0.0,0.0,0.0
238,238,bK10P49Y,X,6.905365e+08,0.000000e+00,0.000000e+00,0.000000e+00,6.076721e+10,0.000000e+00,6.905365e+09,3.452682e+08,0.000000e+00,0.0,0.0,0.0,0.0
239,239,bK10S00F,Sq,1.485837e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.485837e-23,0.0,0.0,0.0,0.0
240,240,bK10S00J,S,1.330852e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.330852e-22,0.0,0.0,0.0,0.0
658,658,bK18U01M,Xk,3.443171e+08,0.000000e+00,0.000000e+00,0.000000e+00,3.029991e+10,0.000000e+00,3.443171e+09,1.721586e+08,0.000000e+00,0.0,0.0,0.0,0.0

In [17]:
df_acc.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'spkid', 'full_name', 'pdes',
       'name', 'prefix', 'neo', 'pha', 'H', 'G', 'M1', 'M2', 'K1', 'K2', 'PC',
       'diameter', 'extent', 'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR',
       'spec_B', 'spec_T', 'H_sigma', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'moid_jup', 't_jup', 'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i',
       'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp',
       'sigma_per', 'class', 'producer', 'data_arc', 'first_obs', 'last_obs',
       'n_obs_used', 'n_del_obs_used', 'n_dop_obs_used', 'condition_code',
       'rms', 'two_body', 'A1', 'A2', 'A3', 'DT', 'Object', 'Orbit ID',
       'H (mag)', 'Estimated Diameter (m)', 'OCC',
       'Min. delta-V [delta-V, dur.] (km/s), (d)',
       'Min. Duration [delta-V, dur.] (km/s), (d)', 'Viable Trajectories',
       'Next Optical Opportunity (yyyy-mm [Vp])',
       'Next Goldstone Radar Opportunity (yyyy-mm [SNR])', 'spec_B_clean',
       'new_spec', 'diameter_clean', 'est_volume', 'est_density', 'est_mass',
       'est_mass_th_tonnes'],
      dtype='object')

In [19]:
col_acc = ['id', 'full_name', 'diameter_clean', 'est_volume', 'est_density', 'est_mass_th_tonnes']

In [20]:
rank_asteroids = df_acc[col_acc].merge(acc_total_resources, on='id', how='inner')

In [21]:
rank_asteroids.head()

,id,full_name,diameter_clean,est_volume,est_density,est_mass_th_tonnes,Unnamed: 0,new_spec,est_mass,hydrogen_kg,...,ammonia_kg,iron_kg,water_kg,nickel_kg,cobalt_kg,magnesium silicate_kg,iron silicate_kg,aluminum_kg,nickel-iron_kg,platinum_kg
0,a0003361,3361 Orpheus (1982 HR),744.0,2.156341e+08,2.71,97394.321180,0,Sr,9.739432e+10,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,9.739432e-20,0.0,0.0,0.0,0.0
1,a0025143,25143 Itokawa (1998 SF36),772.0,2.409076e+08,2.71,108.809611,1,S,1.088096e+08,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,1.088096e-22,0.0,0.0,0.0,0.0
2,a0089136,89136 (2001 US16),434.0,4.280237e+07,2.71,19332.642940,2,Sr,1.933264e+10,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,1.933264e-20,0.0,0.0,0.0,0.0
3,a0099942,99942 Apophis (2004 MN4),546.5,8.546123e+07,2.71,38599.931801,3,Sq,3.859993e+10,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.0,0.0,3.859993e-20,0.0,0.0,0.0,0.0
4,a0101955,101955 Bennu (1999 RQ36),436.0,4.339684e+07,1.38,9981.085546,4,B,9.981086e+09,2.345555e+09,...,9.981086e+06,9.981086e+10,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0

In [23]:
rank_asteroids = rank_asteroids.sort_values(by=['water_kg', 'platinum_kg'], ascending=False)

In [24]:
rank_asteroids.head()

,id,full_name,diameter_clean,est_volume,est_density,est_mass_th_tonnes,Unnamed: 0,new_spec,est_mass,hydrogen_kg,...,ammonia_kg,iron_kg,water_kg,nickel_kg,cobalt_kg,magnesium silicate_kg,iron silicate_kg,aluminum_kg,nickel-iron_kg,platinum_kg
7,a0162173,162173 Ryugu (1999 JU3),630.0,1.309243e+08,1.38,30112.377500,7,Cg,3.011238e+10,7.076409e+09,...,3.011238e+07,4.998655e+09,6.022475e+09,4.215733e+08,6.022475e+07,0.0,0.0,0.0,0.0,0.0
27,a0416186,416186 (2002 TD60),654.0,1.464643e+08,1.38,33686.309389,27,K,3.368631e+10,7.916283e+09,...,3.368631e+07,2.795964e+09,3.368631e+09,2.358042e+08,3.368631e+07,0.0,0.0,0.0,0.0,0.0
13,a0228502,228502 (2001 TE2),422.0,3.934921e+07,1.38,9049.946741,13,Cb,9.049947e+09,2.126737e+09,...,9.049947e+06,7.511456e+08,9.049947e+08,6.334963e+07,9.049947e+06,0.0,0.0,0.0,0.0,0.0
42,a0471240,471240 (2011 BT15),218.0,5.424605e+06,1.38,1247.442084,42,C,1.247442e+09,2.931489e+08,...,1.247442e+06,2.070754e+08,2.494884e+08,1.746419e+07,2.494884e+06,0.0,0.0,0.0,0.0,0.0
36,a0451370,451370 (2011 AK5),238.5,7.103359e+06,1.38,1634.238202,36,K,1.634238e+09,3.840460e+08,...,1.634238e+06,1.356418e+08,1.634238e+08,1.143967e+07,1.634238e+06,0.0,0.0,0.0,0.0,0.0

In [42]:
rank_asteroids[rank_asteroids['est_mass_th_tonnes'] < 5].to_csv('../asteroid_mining/data/water_asteroids.csv')

In [47]:
rank_asteroids[rank_asteroids['est_mass_th_tonnes'] < 6].to_csv('../asteroid_mining/data/water_asteroids_phase2.csv')

In [49]:
rank_asteroids.dtypes

id                        object
full_name                 object
diameter_clean           float64
est_volume               float64
est_density              float64
est_mass_th_tonnes       float64
Unnamed: 0                 int64
new_spec                  object
est_mass                 float64
hydrogen_kg              float64
nitrogen_kg              float64
ammonia_kg               float64
iron_kg                  float64
water_kg                 float64
nickel_kg                float64
cobalt_kg                float64
magnesium silicate_kg    float64
iron silicate_kg         float64
aluminum_kg              float64
nickel-iron_kg           float64
platinum_kg              float64
dtype: object

In [51]:
plat_resources = rank_asteroids[rank_asteroids['platinum_kg'] > 0]

In [53]:
plat_resources[plat_resources['est_mass_th_tonnes'] < 7]

,id,full_name,diameter_clean,est_volume,est_density,est_mass_th_tonnes,Unnamed: 0,new_spec,est_mass,hydrogen_kg,...,ammonia_kg,iron_kg,water_kg,nickel_kg,cobalt_kg,magnesium silicate_kg,iron silicate_kg,aluminum_kg,nickel-iron_kg,platinum_kg
576,bK17R00K,(2017 RK),38.0,28730.912015,1.38,6.794252,576,O,6.794252e+06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.014496e+07,8.492814e+06